name: Tests 

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Lint
      uses: actions/setup-node@v4
      with:
        node-version: 18.x
        cache: yarn
    - run: yarn --frozen-lockfile --ignore-engines
    - run: yarn test
